body{
    font-family: Arial, sans-serif;
}

.container{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    color: #423c3c;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #959090;
    padding: 8px;
    border-radius: 5px;
    background-color: #959090;
}